@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#main{
    width: 100%;
    height: auto;
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        span{
            a{
                font-size: 13px;
                color:gray;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .main{
        background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%),  url(https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80); 
        background-size: cover;
        color:#fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        h1{
            margin-top:160px;
            font-size: 32px;
            margin-bottom:35px;
        }
        p{ 
            font-size: 15px;
            margin-bottom:46px;
        }
        a{
            background-color:#fb6e52;
            border:1px solid white;
            padding: 25px 50px;
            border-radius: 5px;
            color:white;
            margin-bottom: 121px;
            &:hover{
                text-decoration: none;
            }
        }
    }

}
#content{
    .container{
        .cards{
            display: flex;
            justify-content: center;
            .card1{
                padding-top:55px;
                margin-left: 50px;
                .circle{
                    width:58px;
                    height: 58px;
                    border-radius: 50%;
                    background-color:#fb6e52;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        color:white;
                        font-size:20px;
                    }
                }
                h5{
                    margin-top:20px;
                    font-size: 15px;
                    font-weight: bold;;
                }
                p{
                    font-size: 13px;
                    color:gray;
                    margin-bottom: 55px;
                }
            }
        }
       
        .quote{
            font-size: 20px;
            color:#fb6e52;
            text-align: center;
        }
        .images{
            margin-top: 58px;
            margin-bottom: 45px;
            display: flex; 
           justify-content: center;
            .image{
                margin-right: 20px;
                &:nth-child(1){
                    margin-left:100px;
                }
                img{
                    width: 190px;
                    height: 150px;
                }
                h5{
                    margin-top:20px;
                    font-size: 15px;
                    font-weight: bold;;
                }
                p{
                    font-size: 13px;
                    color:gray;
                    margin-bottom: 55px;
                }
            }
        }
    }
}
#blog{
    background-color: #f9f9f9;
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .title{
            padding: 40px;
            font-size: 20px;
        }
        .blogimg{
        display: flex;
            .blogcards{
                margin-right:30px;
                img{
                    width: 282px;
                    height: 282px;
                    margin-bottom: 30px;
                }
                h3{
                    color:#fb6e52;
                    font-size: 15px;
                    margin-bottom: 25px;
                }
                p{

                    font-size:13px;
                    color:#d5d6d7;
                    margin-bottom: 50px;
                }
            }
        }
    }
    
}
#footer{
    display: flex;
    background-color: #292c34;
    height: 100px;
    align-items: center;
.container{
    
    display: flex;
    justify-content: space-between;
    .footer-logo{
        display: flex;
        align-items: center;
       span{
        p{
            margin-top:15px;
            margin-left:20px;
            color:gray;
            font-size:13px;
        }
       }
    }
    .icons{
        display: flex;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                list-style-type: none;
                a{
                color:#fff;
                margin-right: 35px;
                }
            }
        }
    }
}



}